@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #0a0908;
}

h2, h3, h4, h5, h6 {
  @apply text-transparent bg-clip-text bg-gradient-to-br from-green via-white to-white text-6xl mb-4 md:text-7xl font-extrabold tracking-tighter leading-tight
}

nav a {
  @apply text-black md:ml-4 xl:ml-6 text-lg font-bold mb-4 hover:underline hover:decoration-red hover:decoration-wavy decoration-2;
}

nav a:first-child {
  @apply ml-0;
}

.active {
  @apply underline decoration-red decoration-wavy decoration-2
}

p {
  @apply text-lg font-medium mb-6;
}

.marker-popup {
  visibility: hidden!important;
}

.marker-popup.visible-popup {
 visibility: visible!important;
}

.fixed-nav {
  animation-name: fade-in;
  animation-duration: 1s;
  @apply bg-gradient-to-r fixed top-0;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.projects--content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.doc_link {
  display: block;
  position: relative;
  margin: 0 auto;
  text-decoration: none;
  width: 100%;
}

.doc_link .span {
  font-family: 'IBM Plex Sans', sans-serif;
  position: absolute;
  left: 0;
  top: 0;
  font-style: italic;
  font-weight: 600;
  color: #f2f4f3;
  z-index: 1;
  opacity: 0;
  width: 100%;
  max-height: 100%;
  overflow: hidden;
  letter-spacing: 1px;
  text-shadow: 0rem 0rem 2px #004a30;
  transition: opacity ease 0.5s;
}

.doc_link:after {
  background: linear-gradient(rgb(0, 74, 48), rgba(0, 74, 48, .25));
  content: '';
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transition: opacity ease 0.5s;
  opacity: 0;
}

.doc_link:hover::after {
  opacity: 1;
}

@media (max-width: 900px){
  .mobile-nav {
    opacity: 0;
    width: 100vw;
    left: 0;
    height: 100vh;
    left: -200%;
    position: absolute;
    z-index: -10;
    transition-duration: 0.5s;
    @apply bg-gradient-to-br from-white via-green to-green;
  }

  .mobile-nav.open {
    opacity: 1;
    bottom: 0;
    left: 0;
    @apply z-50 justify-center text-center;
  }

  .mobile-nav.open a {
    @apply text-3xl mb-8 text-white;
  }
}
