@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #0a0908;
  @apply text-lg font-medium;
}

:focus {
  @apply outline-green;
}

h2, h3, h4, h5, h6 {
  @apply text-green text-6xl mb-4 md:text-7xl font-extrabold tracking-tighter leading-tight
}

h3 {
  @apply text-3xl md:text-5xl leading-loose;
}

nav a {
  @apply text-black no-underline lg:ml-4 xl:ml-6 text-lg font-bold mb-4 hover:underline hover:decoration-blue hover:decoration-wavy decoration-2;
}

nav a:first-of-type {
  @apply ml-0;
}

.active {
  @apply underline decoration-blue decoration-2
}

p {
  @apply mb-8;
}

main a {
  @apply underline text-green;
}

main a:hover {
  @apply decoration-blue decoration-wavy decoration-2
}

button[type="submit"],
button {
  @apply mr-2 mb-2 bg-green hover:bg-blue text-white font-bold py-2 px-4 rounded;
}

.marker-popup {
  visibility: hidden!important;
}

.marker-popup.visible-popup {
 visibility: visible!important;
}

.fixed-nav {
  animation-name: fade-in;
  animation-duration: 1s;
  @apply bg-gradient-to-r fixed top-0;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.location {
 @apply w-full min-h-[400px] duration-500 bg-blend-color-burn bg-no-repeat bg-cover bg-center;
}

.location div {
  @apply h-full bg-gradient-to-b from-green opacity-0  duration-500;
}

.location h3 {
  @apply  p-8 text-white text-4xl mb-3;
}

.location:hover {
  @apply cursor-pointer;
}

.location:hover div {
  @apply  opacity-100;
}


@media (max-width: 1024px){
  .mobile-nav {
    opacity: 0;
    left: 0;
    left: -200%;
    position: absolute;
    z-index: -10;
    width: 100vw;
    top: 0;
    transition-duration: 0.5s;
    @apply bg-green;
  }

  .mobile-nav.open {
    opacity: 1;
    bottom: 0;
    left: 0;
    @apply fixed z-50 justify-center text-center;
  }

  .mobile-nav.open a {
    @apply text-3xl mb-8 text-white;
  }
}

/* Form styles */
form {
  @apply border-2 border-solid border-green px-8 pt-6 pb-8 mb-4;
}

form div {
  @apply mb-8;
}

form label {
  @apply block text-gray-700 text-base font-bold mb-2;
}

form input,
form textarea {
  @apply bg-gray-200 shadow appearance-none border border-gray-200 rounded w-full py-3 px-4 pr-8 text-gray-700 leading-tight placeholder-gray-700;
}

form select {
  @apply block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500;
}
